<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="blog" frontName="blog">
            <module name="Coding_HelloWorld" />
        </route>
        <route id="blogstitle" frontName="blogstitle">
            <module name="Coding_HelloWorld" />
        </route>
        <route id="samplepost" frontName="samplepost">
            <module name="Coding_HelloWorld"/>
        </route>
        <route id="show" frontName="show">
            <module name="Coding_HelloWorld"/>
        </route>
        <route id="emailpost" frontName="emailpost">
            <module name="Coding_HelloWorld"/>
        </route>
        <route id="dropdown" frontName="dropdown">
            <module name="Coding_HelloWorld"/>
        </route>
        <route id="ajax" frontName="ajax">
            <module name="Coding_HelloWorld"/>
        </route>
    </router>
</config>
